
/* 
Reset Stylesheet v0.0.1
Author: Himanshu Saraswat
*/

@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/functions';

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, 
del, dfn, em, img, ins, a,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, nav, section,video {
    @include reset-styles;

}


body {
    line-height:1;
    font-weight:none;
}

ol, ul {
  list-style: none;
}
li
{
            font-family:'Source Sans Pro Semibold', sans-serif;
            font-size:14px;
            color:#000000;   
            margin-top:20px; 
}
article,aside,details,figcaption,figure,
footer,header,nav,section { 
    display:block;
}
q:before, q:after {
    content:'';
    content:none;
}
input[type="radio"]{
    margin-right:5px;
    height: 18px;
    width: 18px;
}

input[type="checkbox"]{
    margin-right:15px;
}

a {    
    text-decoration:none;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
textarea {
    resize: vertical
}
button,fieldset,img,input[type=button],input[type=submit] {
    border: 0
}

input, select {
    vertical-align:middle;
}
.loader{
    background-image: url(./images/loading.gif);
    width: 100%;
    background-color: rgba(255,255,255,.8);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 998;
    height: 100vh;
    top: 0px;
}

input:focus{
    outline:none
}

.displayLeft{
  display:inline-block;
  vertical-align:middle;
  width:22%;
}
.displayHidden{
  visibility:hidden;
}



