.gor-add-flyoutWrapper{
    position: absolute;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    width: 160px;
    .headerName{
    padding: 10px;
    border-bottom: 2px solid #d8d8d8;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
	font-weight: 600;
	text-align: left;
	color: #666666;
    }
}