@import '../abstracts/functions';

.gor-add-btn {
  font-family: 'Source Sans Pro Bold', sans-serif;
  min-width: 113px;
  height: 35px;
  font-size: 14px;
  background: #f36f36;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  &.black {
    background: #4d5055;
    color: #fff;
  }
  &.gor-listing-button {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ec6520;
    background: #ffffff;
    color: #ec6520;
    width: 100px;
  }
  &.rightMargin {
    float: right;
    margin-right: 95px;
    margin-top: 20px;
  }
}
.gor-bulk-audit-btn {
  margin-right: 20px;
  vertical-align: top;
}
.gor-select-field {
  height: 35px;
  width: 40%;
}
.gor-role-details {
  margin-top: 20px;
}
.gor-role-heading {
  font-weight: bold;
  font-size: 14px;
}
.gor-role-label {
  display: inline-block;
  width: 88%;
}
.gor-resolve-button {
  font-family: 'Source Sans Pro Bold', sans-serif;
  width: 113px;
  height: 35px;
  font-size: 14px;
  background: #fff;
  border-radius: 3px;
  border-color: #a6a7a9;
  border-style: double;
  border-width: 2px;
  cursor: pointer;
}
.gor-field-error {
  text-align: left;
  color: #ec1c24;
  font-size: 18px;
  margin-top: 10px;
  width: 75%;
}
.gor-input-error {
  border: 1px solid #ec1c24;
}
.gor-input-ok {
  border: 1px solid #aaaaaa;
}
.gor-usr-add {
  display: inline-block;
  width: 70%;
}
.gor-usr-form {
  margin-top: 120px;
  margin-bottom: 120px;
}
.gor-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  .gor-sub-head {
    font-family: 'Source Sans Pro Regular', sans-serif;
    font-size: 12px;
    color: #000000;
    margin-top: calculateRem(5px);
    width: 75%;
  }
  .gor-sub-head-audit-input {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    margin-top: calculateRem(10px);
    margin-left: calculateRem(10px);
  }
  .gor-modal-head {
    position: relative;
    font-family: 'Source Sans Pro Regular', sans-serif;
    font-size: 26px;
    border-bottom: 1px solid #aaaaaa;
    min-height: calculateRem(60px);
    width: 92%;
    padding-top: 40px;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    position: fixed;
    top: 0;
    background: #ffffff;
    z-index: 100;
    .close {
      background: #f2f2f2;
      color: #aaaaaa;
      float: right;
      text-align: center;
      font-size: 28px;
      width: 30px;
      height: 30px;
      padding: 10px;
      border-radius: 50%;
    }
    .close:hover {
      color: #333333;
    }
    .close:focus {
      color: #666666;
    }
  }
  .gor-usr-details {
    width: 33%;
    margin: auto;
    margin-top: 40px;
    .gor-role {
      margin-top: 25px;
    }
    .gor-choose {
      margin-left: 30px;
    }
    .gor-usr-hdlg {
      font-family: 'Source Sans Pro Semibold', sans-serif;
      font-size: 20px;
      color: #000000;
    }
    .gor-usr-hdsm {
      font-family: 'Source Sans Pro Semibold', sans-serif;
      font-size: 14px;
      color: #000000;
      margin-top: 25px;
    }
    .gor-usr-fdlg {
      text-align: left;
      margin-top: 0.625rem;
      padding: 0.625rem;
      width: 66%;
      background-color: #ffffff;
      border-radius: 3px;
      display: inline-block;
      &:hover {
        border: 1px solid #666666;
      }
      &:disabled {
        border: 1px solid #cccccc;
        background: #f7f7f7;
      }
    }

    .gor-audit-fdlg {
      margin: auto;
      text-align: left;
      margin-top: calculateRem(10px);
      padding: calculateRem(10px);
      width: 40%;
      background-color: #ffffff;
      border-radius: 3px;
      &:hover {
        border: 1px solid #666666;
      }
      &:disabled {
        border: 1px solid #cccccc;
        background: #f7f7f7;
      }
    }
    a {
      line-height: 25px;
      color: #27aae1;
      font-size: 14px;
    }
    .gor-usr-field {
      display: inline-block;
      width: 36%;
      .gor-usr-fdsm {
        margin: auto;
        text-align: left;
        margin-top: calculateRem(10px);
        padding: calculateRem(10px);
        background-color: #ffffff;
        border-radius: 3px;
        &:hover {
          border: 1px solid #666666;
        }
      }
    }
    .gor-audit-field {
      display: inline-block;
      width: 38%;
      .gor-usr-fdsm {
        margin: auto;
        text-align: left;
        margin-top: calculateRem(10px);
        padding: calculateRem(10px);
        background-color: #ffffff;
        border-radius: 3px;
        &:hover {
          border: 1px solid #666666;
        }
      }
    }
  }
  .gor-multiple-roles {
    .gor-usr-dropdown {
      width: 70%;
    }
  }
  .gor-pass-view1 {
    display: none;
  }
  .gor-submit {
    width: 33%;
    margin: auto;
    margin-top: 25px;
    .gor-add-btn {
      font-family: 'Source Sans Pro Bold', sans-serif;
      width: 113px;
      height: 35px;
      font-size: 14px;
      background: #f36f36;
      color: #ffffff;
      border-radius: 3px;
      margin-left: 0px;
      &:disabled {
        background: #dddddd;
      }
    }
  }
}
