.gor-sku-validation-btn-wrap {
  display: inline-block;
}

.gor-searchDropdown-audit-wrap {
  width: 44.5%;
  padding-top: 20px;
}

.gor-disable-content {
  pointer-events: none;
  opacity: 0.4;
}

.spinnerImage {
  background-image: url(images/whiteSpinner.svg);
  width: 30px;
  height: 30px;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

.gor-audit-input-wrap {
  display: inline-block;
  width: 42%;
  height: 35px;
  border-radius: 3px;
  border: solid 1px #aaaaaa;
  background-color: #ffffff;
  padding-left: 10px;
  margin-top: 20px;
}

.gor-audit-input {
  text-align: left;
  width: 80%;
  background-color: #ffffff;
  border: none;
  height: 93%;
}

.gor-sku-error {
  color: #ec1c24;
  padding-top: 10px;
  font-size: 15px;
}

.gor-sku-valid {
  color: #00a54f;
  padding-top: 10px;
}

.gor-Auditlist-table {
  margin-top: -2px;
  width: 100%;
  position: relative;
  .gor-audit-id {
    vertical-align: middle;
    display: inline-block;
    padding-left: calculateRem(14px);
  }
  .gor-audit-id-leftShift {
    padding-left: calculateRem(45px);
  }
  .gor-audit-info-icon:hover + .gor-tooltip {
    display: block;
    z-index: 900;
    width: 210px;
    position: fixed;
    overflow: hidden;
    padding-left: 10px;
  }

  .gor-suggested-audit-btn {
    font-family: "Source Sans Pro Bold", sans-serif;
    height: 35px;
    font-size: 13px;
    color: #ffffff;
    margin-left: 30px;
    vertical-align: sub;
    border-radius: 3px;
    background-color: #4d5055;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #aaaaaa;
    cursor: pointer;
    width: 131px;
  }

  .gor-audit-create-btn {
    height: 35px;
    border-radius: 3px;
    background-color: #f36f36;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-family: 'source sans pro';
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    padding-left: 15px;
    vertical-align: sub;
    cursor: pointer;
    width: 141px;
  }

  .gor-audit-generate-report-btn {
    height: 35px;
    border-radius: 3px;
    background-color: #4d5055;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-family: 'source sans pro';
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    padding-left: 15px;
    vertical-align: sub;
    cursor: pointer;
    width: 141px;
    margin-right: 30px;
    &.disabled {
      cursor: none;
    }
  }

  .gor-audit-filter-create-wrap {
    display: inline-block;
    float: right;
    margin-top: 22px;
    margin-right: 40px;
  }
}

.gor-audit-actions-button {
  display: inline-block;
  width: 110px;
  float: left;
}

.gor-audit-actions-drop {
  display: inline-block;
  width: 10.625rem;
  float: right;
}

.gor-audit-paginate-wrap {
  float: right;
}
.gor-auditlist-paginate-wrap {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  border-top: 1px solid lightgrey;
  float: left;
  bottom: -30px;
}
.gor-auditlist-paginate-right {
  float: right;
}
.gor-Audit-no-data {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #666666;
  height: 400px;
}
.gor-Audit-no-dataview {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #666666;
}
.gor-audit-cancelling-text {
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: red;
}

.gor-audit-header-check {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  float: left;
}
.auditHeader {
  font-size: 24px;
  color: #000000;
  font-weight: normal;
}
.table-auditListing {
  .table-body {
    max-height: 75vh !important;
    min-height: 75vh;
    overflow: auto;
    background-color: white;
    .auditListColumn1Style {
      @extend .flexContent;
      flex: 1 0 7%;
    }
    .auditListColumn2Style {
      @extend .flexContent;
      flex: 1 0 25%;
    }
    .auditListColumn3Style {
      @extend .flexContent, .centerAligned;
      flex: 1 0 16%;
    }
    .auditListColumn4Style {
      @extend .flexContent;
      flex: 1 0 20%;
      overflow: visible;
    }
    .auditListColumn6Style {
      flex: 1 0 8%;
      overflow: visible;
    }
  }
}
.gor-auditlist-paginate-right {
  .gor-paginate-wrap {
    padding-top: 1rem;
    margin-right: 20px;
  }
}
.embeddedImage {
  width: 17px;
  height: 20px;
  float: right;
  margin-top: 15px;
  background-position: -596px -77px;
  margin-right: 15px;
  &:hover {
    cursor: pointer;
  }
}
.centerAligned {
  justify-content: center;
  flex-direction: column;
}
.bothAligned {
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.auditStart {
  display: inline !important;
}
.audittable {
  padding: 15px 5px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  background-color: #fafafa;
  width: 100%;
}
.auditOther .table-body {
  max-height: 30vh;
  overflow: auto;
  .auditppsTableColumnstyle {
    overflow: visible;
    display: flex;
    padding: 7px 5px;
  }
  .otherppscolumn1Style {
    &.cell {
      @extend .auditppsTableColumnstyle;
      flex: 1 0 35%;
    }
    .marginAlign {
      margin-top: 15px;
      margin-left: 10px;
    }
  }
  .otherppscolumn2Style {
    &.cell {
      @extend .auditppsTableColumnstyle, .centerAligned;
      flex: 1 0 65%;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
.auditStart .table-body {
  max-height: 30vh;
  overflow: auto;
  .auditppsTableColumnstyle {
    overflow: visible;
    display: flex;
    padding: 7px 5px;
  }
  .auditppscolumn1style {
    &.cell {
      @extend .auditppsTableColumnstyle;
      flex: 1 0 35%;
      padding: 7px 5px;
    }
    .marginAlign {
      margin-top: 15px;
      margin-left: 10px;
    }
  }
  .auditppscolumn2style {
    &.cell {
      @extend .auditppsTableColumnstyle, .centerAligned;
      flex: 1 0 32%;
      padding: 7px 5px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
.gorToolBar {
  &.auditListingToolbar {
    height: 80px;
    background-color: rgba(242, 242, 242, 0.6);
    border-bottom: 2px solid #dddddd;
    padding-left: 25px;
  }
}

.gorToolBarWrap {
  &.auditListingToolbarWrap {
    margin-top: 18px;
    width: 21%;
  }
  .auditHeaderContainer {
    display: inline-block;
    padding-top: 7px;
  }
}

.flexContent {
  overflow: visible;
  display: flex;
}
.fontstyleColumn {
  font-size: 14px;
  color: #333333;
}
.column4Style {
  @extend .fontstyleColumn;
  text-align: right;
  font-weight: 600;
  line-height: 17px;
}
.checkBoxalign {
  margin-top: 12px;
  margin-left: 20px;
}

.gor-suggest-audit {
  width: 40%;
  min-height: calculateRem(300px);
  background: #ffffff;
  border-radius: 3px;
  font-size: 20px;
  margin: auto;
  clear: both;
  line-height: 31px;
  color: #4d5055;
  .gor-suggest-audit-header {
    font-family: "SourceSansPro-Semibold";
    font-weight: 600;
    font-size: 26px;
    margin: auto;
    padding: calculateRem(25px);
    padding-bottom: 0;
    min-height: calculateRem(30px);
    clear: both;
    overflow: auto;
    .gor-suggest-audit-header-description {
      font-weight: 400;
      font-size: 16px;
      display: block;
    }
  }
  .gor-suggest-audit-body {
    font-size: 14px;
    padding: calculateRem(25px);
    padding-bottom: 0;
    min-height: calculateRem(100px);
    display: inline-block;
    color: #333333;
    font-weight: 600;
    line-height: 17px;
    .gor-suggest-audit-body-tile {
      display: inline-flex;
      .gor-suggest-audit-body-tile1 {
        padding-right: calculateRem(16px);
      }
      .gor-suggest-audit-body-tile2 {
        padding-right: calculateRem(16px);
        padding-left: calculateRem(16px);
      }
      .gor-suggest-audit-body-tile3 {
        padding-left: calculateRem(16px);
      }
    }
    .gor-suggest-audit-body-block {
      padding-top: calculateRem(16px);
      .gor-suggest-audit-body-block-input {
        padding-top: calculateRem(16px);
        font-size: 12px;
        color: #4d5055;
        display: flex;
        height: calculateRem(25px);
        text-align: center;

        .gor-suggest-audit-body-block-input-wrap {
          padding-left: calculateRem(16px);
          max-height: calculateRem(25px);
          .gor-suggest-audit-body-block-input-field {
            padding: calculateRem(2px) calculateRem(9px) calculateRem(2px)
              calculateRem(9px);
            border: 1px solid #979797;
            height: calculateRem(21px);
            font-size: 14px;
            text-align: left;
            width: calculateRem(40px);
            background-color: #ffffff;
            color: #666666;
            &.gor-input-typing {
              color: #666666;
              &:focus {
                color: #333333;
              }
            }
          }
        }
      }
      .gor-suggest-audit-body-block-input-ok {
        display: none;
      }
      .gor-suggest-audit-body-block-input-error {
        font-size: 12px;
        letter-spacing: 0px;
        color: #ec1c24;
        display: block;
        line-height: 14px;
      }
    }
  }
  .gor-suggest-audit-action-button {
    text-align: right;
    margin-right: calculateRem(20px);
  }
  .gor-save-profile-btn {
    font-family: "Source Sans Pro Bold", sans-serif;
    min-width: calculateRem(113px);
    height: calculateRem(35px);
    font-size: 14px;
    background: #f36f36;
    color: #ffffff;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
  }
  .gor-filter-input-text {
    padding-top: 0;
  }
  .gor-cancel-btn {
    font-family: "Source Sans Pro Bold", sans-serif;
    width: calculateRem(113px);
    height: calculateRem(35px);
    font-size: 14px;
    background: #4d5055;
    color: #ffffff;
    border-radius: 3px;
    margin-right: calculateRem(10px);
    display: inline-block;
    cursor: pointer;
  }
}
