@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/variables';
/* The container */
.container {
  position: relative;
  padding-left: 18px;
  margin-bottom: 12px;
  cursor: pointer;
      float: left;
  width: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none;
  }
}

/* Create a custom checkbox */
.checkmark, .checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 2px solid #333333;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container {
  &:hover input ~ {
    .checkmark, .checkmark1 {
      background-color: #ccc;
    }
  }
/* When the checkbox is checked, add a blue background */  
  input:checked ~ {
    .checkmark, .checkmark1 {
      background-color: #333333;
    }
  }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after, .checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container {
  input:checked ~ {
    .checkmark:after, .checkmark1:after {
      display: block;
    }
  }

/* Style the checkmark/indicator */
/*  checkmark for normal
checkmark1 for indeterminate state*/
  .checkmark1:after {
    left: 2px;
    top: 0px;
    width: 11px;
    height: 7px;
    border: solid white;
    border-width: 0 0px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(0deg);
  }
  .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}