.gor-sku-validation-btn-wrap{
	display:inline-block;
}

.gor-searchDropdown-audit-wrap{
	width: 44.5%;
	padding-top: 20px;
}

.gor-disable-content{
	pointer-events: none;
    opacity: 0.4;
}

.spinnerImage{
   background-image: url(images/whiteSpinner.svg);
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

.gor-audit-input-wrap {
	display: inline-block;
	width: 42%;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #aaaaaa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding-left: 10px;
    margin-top: 20px;
}

.gor-audit-input {
    text-align: left;
    width: 80%;
    background-color: #FFFFFF;
    border: none;
    height: 93%;
}

.gor-sku-error {
	color: #EC1C24;
	padding-top: 10px;
    font-size: 15px;
}

.gor-sku-valid{
	color: #00a54f;
	padding-top: 10px;
}

