.gor-separator{
    display: inline-block;
    line-height: 20px;
    margin-left: 10px;
    .headerName{
        padding: 7px;
        font-size: 16px;
    	font-weight: 600;
    	text-align: left;
    	color: #000000;
    }
    .subheaderName{
        padding: 7px;
        font-size: 14px;
    	text-align: left;
    	color: #4a4a4a;
    }
    .headerSeparation{
        font-size: 30px;
    }
    .subHeaderSeparation{
        font-size: 30px;
    }
}