.gor-separator{
    display: inline-block;
    line-height: 20px;
    
    
    .headerName{
padding: 7px;
font-size: 16px;
	font-weight: 600;
	text-align: left;
	color: #383838;
    }
    .subheaderName{
        padding: 7px;
        font-size: 14px;
	text-align: left;
	color: #333333;
    }
    .headerSeparation{
        font-size: 30px;
    }
    .subHeaderSeparation{
        font-size: 30px;
    }
    .viewDetailslimitsSubHeader{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width:300px;
        display: block;
    }
}
