.gor-download-rpts{
	.gor-download-report-table{
		.row{
			background:#f7f7f7;
			&:hover{
                    background:#DDDDDD;
                }
		}
		.cell{
			padding-left:15px;
			height: 40px;
    		width: 240px;
		}

		}
	.gor-rpt-dwnld{
		min-width: 60%;
	    border-radius: 3px;
	    background-color: #fff;
	    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	    font-family: "source sans pro";
	    font-size: calculateRem(16px);
	    font-weight: 600;
	    text-align: left;
	    color: #4d5055;
	    padding: calculateRem(8px) calculateRem(10px);
	    cursor: pointer;
	    border: 1px solid #4d5055;
	    .ico-wrap{
	    	display:inline-block;
	    	width:20%;
	    }
	    .ico-txt-wrp{
	    	display:inline-block;
	    	width:80%;
	    }
	    .dwnload-rpt-ico{
	    	background-position: -376px -77px;
		    width: 20px;
		    height: 20px;
		    display: inline-block;
		    vertical-align: middle;
	    }
	}
	.gor-filterBtn-btn {
	    .ico-wrap{
	    	display:inline-block;
	    	width:20%;
	    }
	    .ico-txt-wrp{
	    	display:inline-block;
	    	width:80%;
	    }
	    
	}
	.gor-ol-paginate-wrap{
		width:95%;
		.gor-ol-paginate-left{
			display:inline-block;
			width:50%;
			vertical-align: middle;
		}
		.gor-ol-paginate-right{
			display:inline-block;
			width:50%;
			vertical-align: middle;
		}
		.gor-paginate-wrap{
			float:right;
		}
		.gor-dropdown-wrapper{
			width: 10%;
		    margin-left: 4%;
		    background: #fff;
		    margin-top:2rem;
		}
	}
}