@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/variables';

.ddown {
  width:auto;
	min-height: calculateRem(45px);
  .Dropdown-root {
    position: relative;
  }
.Dropdown-control {
  position: relative;
  background-color: white;
  border-radius: calculateRem(4px);
  box-sizing: border-box;
  color: #000000;
  font-family: $gor-font-family;
  font-size: calculateRem(20px);
  font-weight: bold;
  cursor: default;
  outline: none;
  padding: calculateRem(12px) calculateRem(52px) calculateRem(8px) calculateRem(10px);
  transition: all 200ms ease;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 45px;
}


.Dropdown-control:hover {
  box-shadow: 0px 0px 3px 0px #888888;
  border: calculateRem(1px) solid #ccc;

}

.Dropdown-arrow {
  border-color: #000000 transparent transparent;
  border-style: solid;
  border-width: calculateRem(8px) calculateRem(7px) calculateRem(3px);
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: calculateRem(15px);
  top: calculateRem(18px);
  
}

.is-open .Dropdown-arrow {
  border-color: #000000 transparent transparent;
  border-style: solid;
  border-width: calculateRem(8px) calculateRem(7px) calculateRem(3px);
}
.is-open .Dropdown-control{
  box-shadow: 0px 0px 3px 0px #888888;
  border: calculateRem(1px) solid #ccc;
}
 .Dropdown-menu {
 border-radius: calculateRem(4px);
 border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px 0px #888888;
  box-sizing: border-box;
  margin-top: calculateRem(-1px);
  max-height: calculateRem(200px);
  overflow-y: auto;
  position: absolute;
  top: 105%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}



.Dropdown-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  height: 45px;
  padding-left: 10px;
  padding-top: 12px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: calculateRem(2px);
   border-bottom-left-radius: calculateRem(2px);
}

.Dropdown-option:hover {

  background-color: #efefef;
  color: #333;
}

.Dropdown-option.is-selected {
box-shadow: calculateRem(2px) calculateRem(2px) calculateRem(2px) #888888;
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: calculateRem(8px) calculateRem(10px);
}

}
.Order-Stats-Drop {
  width: 33%;
  max-width: 280px;
}

.Performance-Widget-Drop {
  width: 75%;
  max-width: 282px;
}
.gor-usr-dropdown{
    width:50%;
    min-height: 25px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #aaaaaa;
    .Dropdown-root {
      position: relative;
    }
.Dropdown-control {
  position: relative;
  background-color: white;
  border-radius: calculateRem(4px);
  box-sizing: border-box;
  color: #aaaaaa;
  font-family: $gor-font-family;
  font-size: calculateRem(15px);
  font-weight: bold;
  cursor: default;
  outline: none;
  padding: calculateRem(8px) 0 calculateRem(8px) calculateRem(10px);
  transition: all 200ms ease;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 35px;
  .Dropdown-placeholder{
    display:inline-block;
    width:90%;
  }
}


.Dropdown-control:hover {
  box-shadow: 0px 0px 3px 0px #888888;
  border: calculateRem(1px) solid #ccc;

}

.Dropdown-arrow {
  width: 8px;
  height: 6px;
  display:inline-block;
  right: calculateRem(15px);
}

.is-open .Dropdown-control{
  box-shadow: 0px 0px 3px 0px #888888;
  border: calculateRem(1px) solid #ccc;
}
 .Dropdown-menu {
 border-radius: calculateRem(4px);
 border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px 0px #888888;
  box-sizing: border-box;
  margin-top: calculateRem(-1px);
  position: absolute;
  top: 105%;
  width: 100%;
  overflow: auto;
  max-height:200px;

}



.Dropdown-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  height: 45px;
  padding-left: 10px;
  padding-top: 12px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: calculateRem(2px);
   border-bottom-left-radius: calculateRem(2px);
}

.Dropdown-option:hover {

  background-color: #efefef;
  color: #333;
}

.Dropdown-option.is-selected {
box-shadow: calculateRem(2px) calculateRem(2px) calculateRem(2px) #888888;
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: calculateRem(8px) calculateRem(10px);
}

}
  
