@import '../abstracts/functions';
.ddown {
	max-width:calculateRem(290px);
	min-height: calculateRem(45px);
  .Dropdown-root {
  position: relative;
}



.Dropdown-control {
  position: relative;
  background-color: white;
  border-radius: calculateRem(4px);
  box-sizing: border-box;
  color: #000000;
  font-family: $gor-font-family;
  font-size: calculateRem(20px);
  font-weight: bold;
  cursor: default;
  outline: none;
  padding: calculateRem(8px) calculateRem(52px) calculateRem(8px) calculateRem(10px);
  transition: all 200ms ease;
}


.Dropdown-control:hover {
  box-shadow: calculateRem(2px) calculateRem(2px) calculateRem(2px) #888888;
  border: calculateRem(1px) solid #ccc;
}

.Dropdown-arrow {
  border-color: #000000 transparent transparent;
  border-style: solid;
  border-width: calculateRem(8px) calculateRem(7px) calculateRem(3px);
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: calculateRem(35px);
  top: calculateRem(14px);
  
}

.is-open .Dropdown-arrow {
  border-color: #000000 transparent transparent;
  border-style: solid;
  border-width: calculateRem(8px) calculateRem(7px) calculateRem(3px);
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 calculateRem(1px) 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: calculateRem(-1px);
  max-height: calculateRem(200px);
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}



.Dropdown-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: calculateRem(8px) calculateRem(10px);
}

.Dropdown-option:last-child {
  border-bottom-right-radius: calculateRem(2px);
   border-bottom-left-radius: calculateRem(2px);
}

.Dropdown-option:hover {

  background-color: #efefef;
  color: #333;
}

.Dropdown-option.is-selected {
box-shadow: calculateRem(2px) calculateRem(2px) calculateRem(2px) #888888;
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: calculateRem(8px) calculateRem(10px);
}

}

