@import '../abstracts/functions';
.gor-operation-head{
	border-bottom:1px solid #dddddd;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 90%;
	margin: auto;
	font-size: 20px;
	text-align: left;
	.gor-question-2{
		vertical-align: middle;
		margin-right: 20px;
	}
}
.gor-emergency-overlay{
	position: absolute;
	height: 100vh;
	background: rgba(236, 28, 35, 0.4);
	width: 100%;
}
.gor-safetylist{
	.gor-usr-details{
		width: 40%;
	}
	.gor-sub-head{
		width: 70%;
	}
}
.gor-safety-body{
	font-size: 14px;
	margin-top: 20px;
	.tab-alert-icon{
		margin-right: 10px;
	}
}
.gor-safety-error{
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #ef301e;
	padding: 3%;
	width: 75%;
	.gor-error-sm{
		display: inline-block;
		width:90%;
	}
}
.gor-checklist-item{
	font-size: 14px;
	line-height: 1.43;
	color: #666666;
	margin-right: 10px;
}
.gor-resume-operation{
	width:50%;
	min-height:calculateRem(250px);
	margin-top: 25vh;
	border-radius:1%;
	text-align:left;
	.gor-operation-head{
		width:100%;
		padding: 2%;
		border:	none;
		font-size: 26px;
		color:#666666;
		.gor-operation-heading{
			color: #4d5055;
			margin-left: 20px;
		}
	}
	.gor-operation-body{
		padding: 2%;
	}
}
.gor-text-bold{
	font-weight:bold;
	font-size: 18px;
	color: #4a4a4a;
}
.gor-operation-text{
	margin-top:5px;
	font-size: 16px;
	color:#666666;
}
.close{
	float:right;
	font-size: 40px;
	color: #666666;
	cursor:pointer;	
}
.gor-operation-stop{
	position: relative;
	height: 230px;
}
.gor-error-lg{
	font-size: 26px;
	color: #ec1c24;
}
.gor-error-md{
	font-size: 18px;
	color: #ec1c24;
}
.gor-error-sm{
	font-size: 14px;
	color: #e63831;
}
.gor-text-sm{
	font-size: 15px;
	color: #666666;
}
.gor-center-align{
	margin:auto;
	text-align:center;
}
button:disabled{
	opacity: 0.60;
}
.gor-password-field-lg{
			margin:auto;
			text-align:left;
			margin-top:calculateRem(20px);
			padding:calculateRem(5px);
			padding-left:calculateRem(15px);
			width:75%;
			background-color:#FFFFFF;
			border-radius:3px;
			color:#666666;
			font-size: 16px;	
			&.gor-input-typing{
			 	.gor-login-user{
				    background-position:-273px -77px;    

				}
				.gor-login-password{
       				background-position:-291px -77px;    
				}
				color:#666666;
				&:focus{
					color:#333333;
				}			
			}		
}
.gor-operation-body{
	padding: 5%;
	font-size: 14px;
	color: #666666;
}
.gor-margin-top{
	margin-top:40px;
}
.gor-operation-pause{
	width:40%;
	min-height:calculateRem(300px);
	margin-top: 25vh;
	text-align:center;
	border-radius:1%;
	.gor-delete-line{
		margin-left: 20px;
	}
}
.gor-emergency{
	width:60%;
	min-height:calculateRem(500px);
	background:#ffffff;
	border-radius:10px;
	font-size:20px;
	margin:auto;
	clear:both;
	.gor-emergency-heading{
		font-family:'Source Sans Pro Regular', sans-serif;
	    font-size:30px;
		background:#fc3838;
		color:#ffffff;
		padding:calculateRem(40px);
		min-height:calculateRem(40px);
	}
	.gor-emergency-body{
		width:70%;
		padding:calculateRem(40px);
		font-family:'Source Sans Pro Regular', sans-serif;
	    font-size:22px;		
		color:#000000;
		line-height:calculateRem(30px);
		.gor-emergency-details{
		 	padding-top:calculateRem(30px);
		 	padding-bottom:calculateRem(30px);
		}
	}
	.gor-emergency-close{
		font-family:'Source Sans Pro Semibold', sans-serif;
	    background:#efefef;
	    min-width:20%;
	    height:calculateRem(45px);
	    font-size:18px;
	    border-radius:3px;
	    border:1px solid #AAAAAA;
		margin-left:40%;
	}
}
