@import '../abstracts/functions';
.gor-footer{
	background:#4D5055;
	color:#CCCCCC;
	border-top:solid 1px #cccccc;
	text-align:center;
	bottom:0;
	padding:20px 0 20px 0;
	width:97%;
	font-family:'Source Sans Pro Regular', sans-serif;
	font-size:14px;
	position:absolute;
	margin:auto;
	margin-top:50px;
}