@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/variables';
.axis path,
  .axis line {
    fill: none;
  }

  .bar {
    fill: #D3D3D3;
    opacity: 0.5;
    stroke-linejoin: round;

  }

  .bar:hover {

    stroke: #4d5055;
    stroke-width: calculateRem(1px);
  }

  .x.axis path {
    display: none;
  }

  .d3-tip {
    line-height: 3;
    font-weight: bold;
    font-size: calculateRem(12px);
    font-family: sans-serif;
    padding: calculateRem(5px);
    background: #4d5055;
    color: #ffffff;
    width: calculateRem(150px);
    border-radius: 3%;

  }

  
  .d3-tip:after {

    display: inline;
    font-size: calculateRem(20px);
    width: 100%;
    line-height: 1;
    color: #4d5055;
    content: "\25C0";
    position: absolute;
    text-align: center;
    

  }

  
  .d3-tip.n:after {
    margin: calculateRem(-60px) calculateRem(0px) calculateRem(0px) calculateRem(-80px);
    top: 100%;
    left: 0;
  }

  .grid .tick {
    stroke: #f2f2f2;
    opacity: 0.7;
  }
  .grid path {
    stroke-width: calculateRem(1px);
  }


  .gor-tip-wrap {
  background:#323539; 
  color:#ffffff; 
  padding:10px 30px 10px 10px; 
  border-radius:5%; 
  font-size:14px;
  }