.rect {
  fill: #ffffff;
    opacity: 0.5;
    stroke-linejoin: round;
}

.text {
  fill: white;
  font: 20px sans-serif;
  text-anchor: end;
}

.gor-performance-noData {
	padding-left: 152px;
	padding-top: 130px;
}