
@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/functions';

.gorHeader {
	&.head{
    	background:#fff;
    	min-height: 45px;
	}
	.dropbtn{
		background-color: #fff;
		color: #4d5055;
		padding: 0 1em;
		font-size: calculateRem(14px);
		border: none;
		cursor: pointer;
		width :auto; 
		font-family: $gor-font-family;
		&:hover{
			background-color: #efefef;
			.dropdown-content{
				display:block;
			}
		}
		&:focus{
			background-color: #efefef;
		}	
		
	}
	.dropdown {
			padding: calculateRem(5px) 0;
			display: inline-block;
			vertical-align: middle;
			width: 40%;
		}
		
	.dropdown-content {
			font-family: $gor-font-family;
			background-color: white;
			font-size: calculateRem(14px);
			color: #4d5055;
			width :calculateRem(188px); 
			display: none;
			position: absolute;
			right: 0;
			min-width: 5em;
			height: 35px;
			z-index:1;
			top: calculateRem(44px);
			z-index:1;
			display:block;
			padding-right: 3px;
   			width: 251px;
			box-shadow: 0em .1em .2em 0em rgba(0,0,0,0.2);
			a{
				color: #666666;
				background-color: white;
				padding: calculateRem(12px) calculateRem(16px);
				font-size: 14px;
				text-decoration: none;
				padding: 1em 3em;
				display: block;
				&:hover{
				 background-color: #efefef

				}
			}
		}

		.dropdown-content-afterClick {
			font-family: $gor-font-family;
			background-color: white;
			font-size: calculateRem(14px);
			color: #4d5055;
			width :calculateRem(223px); 
			display: block;
			position: absolute;
			right: 0;
			min-width: 5em;
			box-shadow: 0em .1em .2em 0em rgba(0,0,0,0.2);
			a{
				color: #666666;
				background-color: white;
				padding: calculateRem(12px) calculateRem(16px);
				font-size: .7em;
				text-decoration: none;
				padding: 1em 3em;
				display: block;
				&:hover{
				 background-color: #efefef
				}
			}
		}
		.show {
			display:block;
		}
		.horizontalDiv {
			border-bottom: 0.15em solid #e7e7e7;
		}

		.gor-border {
			border-right: calculateRem(1px) solid #F2F2F2;
			display: inline-block;
			height: calculateRem(26px);
			vertical-align: middle;

		}

		.logoWrap{
			display: inline-block;
			padding-right:10px;
			padding-left: 10px;
		}
		.logo {
			display: inline-block; 
			overflow: hidden;
    		vertical-align: middle;
    		padding-right: 10px;
		}
		.subTextClient {
				font-family: $gor-font-family;
				font-size: calculateRem(12px);
				font-weight: normal;
				color: #4d5055;
				line-height: calculateRem(0px); 
				text-align: left;
				padding-right: calculateRem(20px);
				padding-top: calculateRem(11px);

			}

			.block {
				display: inline-block;
				
			}
			.mainBlock {
				display: inline-block;
				overflow: hidden;
    			padding: calculateRem(3px) 0;			
			}

			.blockSystem {
				display: inline-block;
				overflow: hidden;
				padding-left:calculateRem(15px);
				vertical-align: middle;
				margin-top: 2px;
			}

			.blockLeft{
				display: inline-block;
				float:right;
				cursor: pointer;
				width: 38%;
			}
			.upperTextClient {
				padding:10px calculateRem(20px) calculateRem(6px) calculateRem(0px);
				font-family: $gor-font-family;
				font-size: calculateRem(14px);
				font-weight: 600;
				line-height: 0;  
				display: inline-block;

			}

			.horizontal-line{
			display: inline-block;
			height: calculateRem(30px);
			border-left: 1px solid #f7f7f7;
			vertical-align: sub;
			}
			.truncate {
				width: calculateRem(110px);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
}

.gorBody {
	height: 100vh;
}

.mainContainer {
	height:100vh;
}

			

			

			
			

		

			