@import '../abstracts/mixins';
@import '../abstracts/functions';

.gorInventory{
	background:#fff;
	.head{
		padding: 15px 15px 15px 20px;
		border-bottom: 1px solid #aaaaaa;
	}
	.labelCnt{
		display: inline-block;
	    width: 50%;
	    overflow: hidden;
	    font-family: 'Source Sans Pro Semibold';
	    font-size: calculateRem(20px);
	    color: #000000;
	    vertical-align: middle;
	}
	.dwnLoadCnt{
		width: 50%;
    	display: inline-block;
    	overflow: hidden;
    	vertical-align: middle;
	}

	.gorBtn{
		@include gor-btn(Source Sans Pro Bold,10px,14px,#4d5055,#ffffff,3px);
		float:right;
	}

	.histLbl{
		width: 44%;
    	display: inline-block;
    	font-family: 'Source Sans Pro Semibold';
	    font-size: calculateRem(20px);
	    color: #000000;
	    padding:calculateRem(5px) calculateRem(18px) 
	}
	.histCnt{
		width: 70%;
    	display: inline-block;
    	vertical-align: middle;
    	height:100vh
	}
	.legendCnt{
		width: 50%;
    	display: inline-block;
    	vertical-align: middle;
	}
	.stkSnapSht{
		width: 28%;
    	display: inline-block;
    	vertical-align: middle;
    	height:100vh;
    	padding:calculateRem(20px) calculateRem(10px);
	}
	.snapShtWrap{
		height:100%;
		border-radius:calculateRem(3px);
		box-shadow: 0px 0px 2px 2px #ECECEC;
	}
	.catColor{
		display:inline-block;
		width: calculateRem(20px);
		height: calculateRem(20px);
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}

}