@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/variables';

.gorInventory{
	background:#fff;
	.head{
		padding: 15px 15px 15px 20px;
		border-bottom: 1px solid #aaaaaa;
	}
	.labelCnt{
		display: inline-block;
	    width: 50%;
	    overflow: hidden;
	    font-family: 'Source Sans Pro Semibold';
	    font-size: calculateRem(20px);
	    color: #000000;
	    vertical-align: middle;
	}
	.dwnLoadCnt{
		width: 50%;
    	display: inline-block;
    	overflow: hidden;
    	vertical-align: middle;
	}

	.gorBtn{
		@include gor-btn(Source Sans Pro Bold,10px,14px,#4d5055,#ffffff,3px);
		float:right;
	}

	.histLbl{
		width: 70%;
    	display: inline-block;
    	font-family: 'Source Sans Pro Semibold';
	    font-size: calculateRem(20px);
	    color: #000000;
	    padding:calculateRem(5px) calculateRem(18px) 
	}
	.histCnt{
		width: 70%;
    	display: inline-block;
    	vertical-align: middle;
    	height:auto;
	}
	.legendCnt{
		width: 25%;
    	display: inline-block;
    	vertical-align: middle;
	}
	.stkSnapSht{
		width: 28%;
    	display: inline-block;
    	vertical-align: top;
    	min-height:550px;
    	padding:calculateRem(20px) calculateRem(10px);
	}
	.snapShtWrap{
		height:100%;
		border-radius:calculateRem(3px);
		box-shadow: 0px 0px 2px 2px #ECECEC;
		overflow: hidden;
	}
	.catColor{
		display:inline-block;
		width: calculateRem(15px);
		height: calculateRem(15px);
		margin-right:calculateRem(5px);
		vertical-align: middle;
		
	}
	.catText{
		vertical-align: middle;
		word-wrap: break-word;
		word-break: break-all;
	}
	.stkParam{
		padding:calculateRem(10px);
		text-align: center;
		p:nth-child(1){
			font-family: 'Source Sans Pro Regular';
			font-size:calculateRem(12px);
			color:#000000;
			line-height: calculateRem(20px);
		}
		p:nth-child(2){
			font-family: 'Source Sans Pro Semibold';
			font-size:calculateRem(17px);
			color:#000000;
		}
	}
	.gorSnapShot{
		padding:calculateRem(25px) calculateRem(20px);
		h1{
			font-family: 'Source Sans Pro Semibold';
			font-size:calculateRem(20px);
			color:#000000;
		}
		table{
			td{
				padding-bottom: calculateRem(20px) ;
				text-transform: capitalize;
			}
			th{
				text-align:left;
				padding-bottom:calculateRem(20px);
			}
		}
	}
	.gorSnapShotCont{
		margin-top:calculateRem(30px);
		table{
			tr{
				td:nth-child(1){
					border-bottom:1px solid #C9C9C9;
					border-right:1px solid #C9C9C9;

				}
				td:nth-child(2){
					border-bottom:1px solid #C9C9C9;
					border-right:1px solid #C9C9C9;
					border-left:1px solid #C9C9C9;

				}
				td:nth-child(3){
					border-bottom:1px solid #C9C9C9;
					border-left:1px solid #C9C9C9;

				}
		}
		tr:nth-child(2){
			td{
				border-bottom:0;
			}
		}
		}
	}

}

.inventoryHist{
	.bar{
		cursor:pointer;
		opacity:0.9;
		&.sel{
			fill:#949699;
		}
		&:last-child{
			stroke: #4d5055;
    		stroke-width: 0.0625rem;
		}
	}
	.axis--y{
		path{
			&.domain{
				display:none;
			}
		}
		.tick{
			line{
				display:none;
			}
		}
	}
	.axis--x{
		path{
			&.domain{
				stroke-width:2;
				stroke:#666666;
				display:block;
			}
		}
		line{
			display:none;
			&.month-break{
				display:block;
			}
		}

	}
	
	.tick{
		text{
			fill:#666666;
			font-size:12px;
		}

	}
	.grid{
		.domain{
			display:none;
		}
		.tick{
			opacity:1;
			stroke:none;
			line{
				stroke:#CCCCCC;
			}
		}
		.tick:nth-child(1){
			line{
				stroke:#666666;
				stroke-width:2;
			}
		}
	}
}
