@import '../abstracts/functions';

@font-face
{
  font-family: 'Source Sans Pro';
  src: url('../src/assets/Source_Sans_Pro/SourceSansPro-Regular.ttf')  format('truetype')
}

.login-form
{
  	background: #4D5055;
  	color:#A6A7A9;
  	font-family: 'Source Sans Pro', sans-serif;
  	height:725px;

  	.login-lang
  	{
  		text-align:right;
  		padding:1%;
  	}
	.login-mid
	{
		
		text-align:center;
		background:#FFFFFF;
        border: 1px solid;
        border-radius:5px;
		color: #979797;
		width:450px;
		height:400px;

		margin-top:11%;
		margin-left:33%;

		padding-top:2%;

		.upper-box
		{
			 padding-bottom:5%;
			 .login-head
			 {
				color:#4D5055;
			 	font-size:45px;
			 	font-weight:bold;
			 }
		}
		.login-field
		{
			margin:5px;
			padding:2%;
			width:300px;
			background-color:#FFFFFF;
			font-size:20px;
		}
		.login-btn
		{
 			background: #F36F36;
 			color: #FFFFFF;
 			width:320px;
 			padding:3%;
 			margin:40px;
 			font-size:20px;
		}	
	}
}
