.gor-notify-top{
	min-height:50px;
	text-align:center;
	font-size:20px;
	line-height:50px;
}
.pass{
		background:#00a54f;
	    color:#ffffff;			
}
.fail{
		background:#EC1C24;
		color:#ffffff;	
}
.info{
		background:#3f529b;
		color:#ffffff;	
}
