.gor-ol-paginate-wrap{
	width:100%;
	.gor-ol-paginate-left{
		display:inline-block;
		width:50%;
		vertical-align: middle;
	}
	.gor-ol-paginate-right{
		display:inline-block;
		width:50%;
		vertical-align: middle;
	}
	.gor-paginate-wrap{
		float:right;
	}
	.gor-dropdown-wrapper{
		width:20%;
		padding-left:15px;
	}
}