.orderTopWrapper{
	display: flex;
	flex-direction: row;
	background: #fff;
	height: 180px;
	width: 100%;
	color: #4a4a4a;
	font-family: SourceSansPro;
	border-bottom: 3px solid #dddddd;
	.orderLeftWrapper{
		display: inline-block;
		width: 40%;
		.orderLeftContent{
			margin: 30px 75px 30px 45px;
			.dateTimeWrapper{
				.dateTime{
					font-size: calculateRem(18px);
					font-weight: bold;
				}
			}
			.orderLeftHeader{
				margin-top: 20px;
				font-size: calculateRem(16px);
				font-weight: bold;
			}
			
			.orderLeftStatus{
				margin-top: 20px;
				font-size: calculateRem(14px);
				display: flex;
				justify-content: space-between;
			}
		}
		
	}
	.orderCenterWrapper{
		display: inline-block;
		height: 60px;
		border: 3px solid #d3d3d3;
		position: relative;
	    top: 75px;
	    border-radius: 10px;
	}
	.orderRightWrapper{
		display: inline-block;
		width: 60%;
		.orderRightContent{
			margin: 30px 30px 30px 70px;
			.orderButtonWrapper{
				float: right;
				.gorButtonWrap{
					display: inline-block;
					.ordersCollapseAll{
						font-family: 'Source Sans Pro Bold', sans-serif;
					    min-width: 113px;
					    height: 35px;
					    font-size: 14px;
					    color: #666666;
					    border-radius: 3px;
					    cursor: pointer;
    					background-color: #ffffff;
					    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
					    border: 1px solid #aaaaaa;
					}
					.ordersFilterData{
						font-family: 'Source Sans Pro Bold', sans-serif;
					    height: 35px;
					    font-size: 14px;
					    color: #666666;
					    margin-left: 30px;
					    border-radius: 3px;
					    background-color: #ffffff;
					    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
					    border: 1px solid #aaaaaa;
					    cursor: pointer;
					    .gor-manage-task{
					    	background-position: -476px -77px;
						    width: 16px;
						    height: 16px;
						    cursor: pointer;
						    display: inline-block;
						    vertical-align: bottom;
						    margin-right: 5px;
					    }
					}
				}
			}
			.orderRightHeader{
				clear: both;
				font-size: calculateRem(16px);
				font-weight: bold;
			}
			.orderRightStatus{
				font-size: calculateRem(14px);
				.statusTop, .statusBottom{
					margin-top: 20px;
					span{
						display: inline-block;
						width: 33%;
					}
				}
			}
		}
	}
}