.orderTopWrapper{
	display: flex;
	flex-direction: row;
	background: #fff;
	//height: 185px;
	width: 100%;
	border: 1px solid red;
	color: #4a4a4a;
	font-family: SourceSansPro;
	.orderLeftWrapper{
		display: inline-block;
		width: 39%;
		border: 1px solid green;
		.orderLeftContent{
			margin: 30px 75px 30px 45px;
			.dateTimeWrapper{
				
				height: 23px;
				.dateTime{
					font-size: calculateRem(18px);
					font-weight: bold;
				}
			}
			.orderLeftHeader{
				margin-top: 20px;
				height: 20px;
				font-size: calculateRem(16px);
				font-weight: bold;
			}
			.orderLeftProgressBar{
				margin-top: 20px;
			}
			.orderLeftStatus{
				margin-top: 20px;
				font-size: calculateRem(14px);
				.statusLeft{
					display: inline-block;
					width: 45%;
					//border: 1px solid blue;
				}
				.statusRight{
					margin-left: 7%;
					display: inline-block;
					width: 45%;
					//border: 1px solid blue;
				}
			}
		}
		
	}
	.orderRightWrapper{
		display: inline-block;
		width: 59%;
		border: 1px solid green;
		.orderRightContent{
			margin: 30px 75px 30px 45px;
			.orderActionWrapper{
				text-align: right;
			}
			.orderRightHeader{
				margin-top: 20px;
				height: 20px;
				font-size: calculateRem(16px);
				font-weight: bold;
			}
			.orderRightStatus{
				.statusTop, .statusBottom{
					margin-top: 20px;
					span{
						display: inline-block;
						width: 33%;
					}
				}
			}
		}
	}
}