.pps-configuration-navigation-tabs .active {
  border-bottom: 2px solid black;
  color: black;
}

.pps-configuration-container {
  box-sizing: border-box;
  background-color: white;
  overflow: auto;
  position: absolute;
  width: 100%;
}

.pps-configuration-details-container {
  float: right;
  width: 83%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.pps-configuration-navigation-tabs {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  color: #999;
  clear: both;
  overflow: auto;
  text-align: center
}

.pps-configuration-navigation-tabs .navigation-tab {
  padding: 20px;
  box-sizing: border-box;
  width: 20%;
  float: left;
  cursor: pointer
}
.pps-configuration-navigation-tabs .seat-description {
  padding: 20px;
  box-sizing: border-box;
  width: 20%;
  float: right;
  font-weight: normal;
  text-align: right;
}

.pps-bin-action-button {
  font-family: 'Source Sans Pro Bold', sans-serif;
  width: 113px;
  height: 35px;
  font-size: 14px;
  background: #fff;
  border-radius: 3px;
  border-color: #A6A7A9;
  border-style: double;
  border-width: 2px;
  cursor: pointer;
  margin-left: 10px;
  margin-right:10px
}

.pps-bin-next-button,.pps-bin-save-apply-button {
  font-family: 'Source Sans Pro Bold', sans-serif;
  width: auto;
  height: 30px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
  margin-right:10px;
  margin-top:10px;
  float:right;
  background-color: #f36f36;
  border: solid 1px #f36f36;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.pps-bin-next-button{
  width: 113px;
}
.pps-bin-save-apply-button{
  width:150px;

}
.pps-bin-back-button {
  font-family: 'Source Sans Pro Bold', sans-serif;
  width: 113px;
  height: 30px;
  font-size: 14px;
  background: #fff;
  border-radius: 3px;
  border-color: #A6A7A9;
  border-style: double;
  border-width: 2px;
  cursor: pointer;
  margin-left: 10px;
  margin-right:10px;
  margin-top:10px;
  float:right
}

.pps-bin-cancel-button,.pps-bin-save-button {
  font-family: 'Source Sans Pro Bold', sans-serif;
  width: auto;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  margin-right:10px;
  background: transparent;
  margin-top:10px;
}
.pps-bin-cancel-button{
  width: 113px;
  float:left
}
.pps-bin-save-button{
  float:right
}
.pps-bin-cancel-button:focus,.pps-bin-save-button:focus{
  outline: none;
}

.pps-list-container {
  float: left;
  width: 17%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
}

.pps-list-header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 18px;
}

.pps-list {
  color: #999;
  height: 100%;
  overflow-y: scroll
}

.pps-list-item {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.pps-list-item.selected {
  background: #f2f2f2;
}

.pps-list-item-profiles {
  padding-top: 5px;
  cursor: pointer;
}

.pps-list-item-profiles .selected{
  font-weight: bold;
  color:black;
}
.pps-profile-item{
  padding-top:5px;
  padding-bottom: 5px;
  clear:both;
  overflow:auto;
}

.pps-profile-name{
  float:left;
  line-height: 20px;
}
.profile-applied-label{
  float:right;
  padding:5px;
  border-radius: 10px;
  color:white;
  background-color: #3cb669;
  font-size: 12px;
}


.pps-bins-container {
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.pps-bins-container.include-tags {
  width: 80%
}

.pps-bin-row {
  margin: 20px;
  text-align: center;
  clear: both;
  overflow: auto;
}

.pps-bin {
  width: 100%;
  height: 100%;
  border: 2px solid darkgrey;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.pps-bin.disabled {
  background-image: linear-gradient(-45deg, transparent 25%, transparent 49.5%, black 49.5%, black 50.5%, transparent 50.5%, transparent 75%, transparent);
}

.selected .pps-bin {
  border: 2px solid #4990e2;
}

.mouseover .pps-bin.disabled {
  background-image: linear-gradient(-45deg, transparent 25%, transparent 49.5%, black 49.5%, black 50.5%, transparent 50.5%, transparent 75%, transparent);

}

.pps-bin-tag-info {
  display: inline-block;
  height: 20px;
  font-size: 14px;
  color:#ccc;
  padding-top: 8px;
}

.pps-bin-info {
  width: 100%;
  height: 20px;
  background-color: darkgrey;
  display: inline-block;
  position: absolute;
  bottom: -2px; //Border is 2px wide.
  left:0;
  color: white;
  text-align: center;
}

.selected .pps-bin-info {
  background-color: #4990e2;
}

.pps-tags-container {
  float: right;
  width: 20%;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  height: 520px;
}

.pps-tags-header {
  margin: 15px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  color: #999;
  padding-bottom: 15px
}

.pps-searchbox-container {
  margin: 15px;
  font-size: 12px
}

.pps-searchresult-label {
  margin: 15px
}

.pps-tags-row {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 5px;
  color: #999;
  font-size: 12px;
  clear: both;
  overflow: auto;
}

.pps-tag-list{
  max-height:400px;
  overflow:auto;
}

.pps-tag-name {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  float: left;
  max-width: 80%;
}

.pps-tag-selection {
  float: right;
}

.pps-tag-selection input[type=checkbox] {
  margin: 0px;
}

.pps-add-tag-container {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 5px;
  color: #999;
  font-size: 12px;
  clear: both;
  overflow: auto;
}

.pps-add-tag-name {
  float: left;
  max-width: 80%;
}

.pps-add-tag-button {
  float: right;
  cursor: pointer;
}

.pps-searchbox-tags{
  width:80%;
  height:25px;
  padding-left:5px;
  padding-right:25px;
  border:1px solid #ccc;
  border-radius: 15px;
  outline: none;
}
.pps-configuration-actions-container{
  width:83%;
  float:right;
  height:50px;
  clear:both;
  overflow:auto;
  padding:10px 20px;
}