@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/variables';
.gor-progress-bar-wrapper{
   	width: 100%;
   	background: #eeeeee;
   	height: 12px;
   	border-radius: 12px;
   }