.searchBarWrapper{
	width: calculateRem(310px);
	border-radius: 3px;
	border: 1px solid #aaaaaa;
	background-color: #fff;
	.searchIconWrap{
		display: inline-block;
		padding-left: calculateRem(10px);
		vertical-align: middle;
		.gor-search-icon {
		    background-position: -1px -93px;
		    width: 14px;
		    height: 14px;
		}
	}
	.inputWrapper{
		display: inline-block;
		.gor-search-input-wrap{
			padding: .625rem;
		    border: none;
		    color: #aaaaaa;
		    width: 100%;
		}
	}
}