@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';

/*Default Fonts*/

@font-face
{
  font-family: 'Source Sans Pro';
  src: url(./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf)  format('truetype')
}
@font-face
{
  font-family: 'Source Sans Pro Bold';
  src:  url(./fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf)  format('truetype')
}
@font-face
{
  font-family: 'Source Sans Pro Semibold';
  src:   url(./fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf)  format('truetype')
}
@font-face 
{
  font-family: 'Source Sans Pro Regular';
  src:  url(./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf)  format('truetype')
}

body{
	background : $gor-body-background;
	font-family:Source Sans Pro;
}