.gor-tabs {
  &.gor-main-block {
    background-color: #4d5055;
    clear: both;
    padding-left: 4em;
    
  }
  &.gor-scrollable-tab {
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
