.gor-tabs{
	.gorTab{
		&.gorContainer{
			background-color:#4d5055;
			width: auto;
			display: inline-block;
			height: 60px;
		}
		.gor-main-block{
				width: 150px;
				padding-right: 20px;
				padding-left: 20px;
				height: 62px;
				display: table-cell;
				border-right: .5px solid black;
				cursor: pointer;
				vertical-align: middle;
				&:hover{
					background-color:#323539;
				}
				&.sel{
					background-color:#323539;
				}
				.gor-normal-tab
				{
				 background: #4d5055;
				}
			}
		.gorInline{
			display: inline-block;
			width:100%;
		}
		.gor-upperText {
			font-family: "source sans pro";
			font-size: 18px;
			font-weight: bold;
			padding-bottom: 3px;
			color: #ffffff;
			display:inline-block;
			width:75%;
		}
		.gorSubText {
			font-size: 14px;
			padding-top: 0px;
			font-weight: bold;
		}
		.gorOverview{
			font-family: "source sans pro";
			color: #ffffff;
		}
		.gor-online{
			font-family: "source sans pro";
			color: #10c469;

		}
		.gor-alert{
		    color:#ffffff;
		}
		.gor-offline{
			font-family: "source sans pro";
			color: #9C9FA0;
		}
		.gorEvent{
			font-family: "source sans pro";
			color: #27aae1;
		}
		.gorRisk{
			font-family: "source sans pro";
			color: #f99405;
		}
		.gorError{
			font-family: "source sans pro";
			color: #fc3838;
		}
		.gorEmergency{
			font-family: "source sans pro";
			color: #ffffff;
			background: #fc3838;
		}
		.gorIconsInline{
			display: inline-block;
			vertical-align: super;
		}
		.gorInlineDisplay{
			display: inline-block;
			padding-right: 16px;
		}
	}
}



