.orderDetailsColumn{
    width: 33%;
    display: inline-block;
    .orderDetailsRow{
        padding: 10px;
        line-height: 25px;
        .spanKey{
            font-size: calculateRem(14px);
            font-weight: 600;
            display: inline-block;
	        color: #4a4a4a;
        }
        
        
        .spanValue{
            font-size: calculateRem(14px);
            font-weight: 400;
            display: inline-block;
            color: #4a4a4a;
            text-align: left;
            margin-left: 10px;
        }
    }
}