@import '../abstracts/functions';


body
{
  background: #F2F2F2;
  font-family: 'Source Sans Pro', sans-serif;
}
.gor-tile
{
  background: #fff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  border-radius: calculateRem(3px);
  display: inline-block;
  min-height:calculateRem(170px);
  margin: 1% 1% 0% 2%;
  font-size: 0;
  &.gor-double{
      width:96%;
  }
  &.gor-single{
      width:47%;
  }
  .gor-status{
    font-family: 'Source Sans Pro semibold', sans-serif;
    color: #666666;
    font-size: calculateRem(16px);
    padding:0;
    margin:0;
  }
  .gor-up-tile{
    padding: 20px 10px 10px 20px;
    min-height:calculateRem(100px);
  }
  .gor-tile-left{
    width: 80%;
    display:inline-block;
  }
  .gor-tile-one{
    width: 45%;
    display:inline-block;
    margin-right: auto;
  }
  .gor-tile-two{
    width: 55%;
    display:inline-block;
    margin-right: 0;
}
.gor-heading{
    font-family: 'Source Sans Pro semibold', sans-serif;
    font-size: calculateRem(16px);
    font-weight: 600;
    line-height: 33px;
}
.gor-heading-value{
    font-family: 'Source Sans Pro regular', sans-serif;
    font-size: calculateRem(45px);
    padding:0;
    margin:0;
}
.gor-success{
  color: #00a54f;
}
.gor-breach{
  color: #ec1c24;
}
.gor-risk{
  color:#dd7f03;
}
.gor-none{
  color:#aaaaaa;
}
.gor-tile-right{
  width: 50px;
  display:inline-block;
  vertical-align: sub;
  height:55px;
}
.gor-low-tile{
  font-family: 'Source Sans Pro semibold', sans-serif;
  font-size: calculateRem(16px);
  background:#F7F7F7;
  color: #666666;
  padding: 15px 0px 15px 20px;
  min-height:calculateRem(16px);
  overflow:hidden;
  vertical-align:middle;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;  
}

}
.gorNoML{margin-left:0;}

/*Media queries*/
@media only screen and (max-width: 480px) {
    .gor-tile{
       .gor-tile-one{
        width: 100%;
    }
    .gor-tile-two{
        width: 100%;
    }
      &.gor-single{
          width:100%;
      }
    }
}
