
.gor-AuditDetails-modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      width: 100%;
      min-height:100vh;
      color: #4a4a4a;
      .gor-auditDetails-modal-body{
       margin: 0px 0px 0px 17px;
        width: 92%;
            clear: both;
         padding-top: 30px;
        color: #4a4a4a;
        .AuditDetailsWrapper{
          height: calculateRem(160px);
          margin-top:20px;
          .AuditDetailsHeader{
            font-size: calculateRem(20px);
            font-weight: 600;
            padding: 10px 10px 0px 10px;
            color:#4a4a4a;
          }
          .auditDetailsContent{
            margin-top: 10px;
            .auditDetailsLeft{
              width: 100%;
              .details-changepps
                  {
                      display:inline-block;
                      vertical-align:top;
                      margin-top:13px;
                      color:#0389eb; 
                       &:hover{
                        cursor:pointer; 
                    }
                    }
            }
            }
        }
        .content-body{
          padding:30px;
          padding-left:0px;
          padding-right:0px;
            .left-float{
              font-size: 20px;
              text-align: left;
              color: #000000;
            }
            .ppsSearchWrap{
            float:right;
            }
        }
        }
      .gor-auditDetails-modal-head{
          font-size: calculateRem(20px);
          font-weight: 600;
          border-bottom:1px solid #AAAAAA;
          min-height:calculateRem(50px);
          width:97%;
          position:absolute;
          padding-top:10px;
          .AuditIDWrapper{
          	font-size: calculateRem(26px);
      		font-weight: 400;
      		color: #000000;
          }
          .close {
              background:#f2f2f2;
              color: #AAAAAA;
              float: right;
              text-align:center;
              font-size: 28px;
              width:30px;
              height:30px;
              padding:10px;
              border-radius:50%;
          }
          .close:hover{
              color: #333333;
          }
          .close:focus {
              color: #666666;
          }
      }
.viewDetailsTable{
  .auditSummary{
  text-align: left;
  color: #333333;
  font-weight: 600; 
  font-size:20px;
  padding: 7px;
    float: left;
  }
width:94%;
margin-left:20px;
.auditDetailsSearchWrap{
  float:right;
}
}
.auditTable 
{
border-bottom:2px solid #dddddd;
.cell{
background-color:#dddddd;
}
}
 .missing-item{
 padding:15px;
 color:#ec1c2d;
 font-size: 14px;
  font-weight: 600;
  text-align: left;
 }
}


