.gor-menuWrap{
	.gor-all-zone{
		padding:15px;
		border-top:1px solid #EAEAEA;
		a{
			color:#72A9E9;
			font-size:14px;
		}
		.right-arr{
			font-weight:bold;
			vertical-align: middle;
		}
	}
	.gor-sys-btn{
		border: solid 1px #B9B9B9;
		color: #525252;
	}
	
}
.gor-zone-wrapper{
	background:#fff;
	.gor-zone-header{
		padding:20px 15px;
	}
	.gor-zone-tile{
		width: 18%;
	    background: #fff;
	    display: inline-block;
	    padding: 5px 5px;
	    margin-left: 10px;
	    margin-top:10px;
	    border: 1px solid #E1E1E1;
	    cursor:pointer;
		.left-content{
			display:inline-block;
			padding:5px;
			overflow: hidden;
    		vertical-align: middle;
    		width:20%;
		}
		.right-content{
			display: inline-block;
		    vertical-align: middle;
		    width: 71%;
		    padding: 5px;
		    p{
		    	color: #4F4F4F;
    			font-weight: bold;
		    }
		}
		.operating-status{
			line-height:25px;
		}
		.gor-zone-status{
			min-height: 42px;
			&.operating{
				border: 4px solid #00BB9A;
			}
    		
		}
	}
	.gor-zt-wrap{
		background:#EEEEEE;
		padding:15px;
	}
}
