.users-table {
  .offline {

    border-radius: 15px;
    text-align: center;
    width: 90px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    color: #aaaaaa;
    font-size: 12px;
    max-height: 9px;
    background: #ffffff;
    text-transform: capitalize;
    padding: 5px 8px 8px;

  }
  .online {
    border-radius: 15px;
    text-align: center;
    width: 90px;
    border-style: solid;
    border-width: 1px;
    border-color: #00a54f;
    color: #00a54f;
    font-size: 12px;
    max-height: 9px;
    background: #ffffff;
    text-transform: capitalize;
    padding: 5px 8px 8px;
  }
}