.gor-utility-tile-h1 {
	width: 100%;
	height: 20%;
	border-bottom:1px solid #AAAAAA;
	.gor-utility-tile-heading {
		font-size: 20px;
		padding: 20px;
	}

}

.gor-utility-tile-body {
	width: 100%;
	height: 60%;
}

.gor-utility-tile-footer {
	border-top: 1px solid #AAAAAA;
    height: 20%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    .got-utility-btn-wrap {
    	width : 100%;
    	width: 100%;
    	padding-top: 12px;
    	position: absolute;
    	padding-left: 48%;
    }
}

.gor-utility-tile
{
  background: #fff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  border-radius: calculateRem(3px);
  display: inline-block;
  min-height:calculateRem(300px);
  margin: 1% 0% 0% 1%;
  font-size: 0;
  width: 23.7%;
  position: relative;
}