.gor-logout {
  width: 40%;
  min-height: 16.25rem;
  background: #ffffff;
  border-radius: 3px;
  font-size: 20px;
  margin: auto;
  clear: both;
}

.gor-logout .gor-logout-text {
  margin: auto;
  padding: 1.875rem;
  min-height: 9.375rem;
}

.gor-logout .gor-logout-bottom {
  text-align: right;
  margin-right: 1.25rem;
}

.gor-logout .gor-logout-btn {
  font-family: 'Source Sans Pro Bold', sans-serif;
  min-width: 7.0625rem;
  height: 2.1875rem;
  font-size: 14px;
  background: #f36f36;
  color: #ffffff;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.gor-cancel-btn {
  font-family: 'Source Sans Pro Bold', sans-serif;
  width: 7.0625rem;
  height: 2.1875rem;
  font-size: 14px;
  background: #4D5055;
  color: #ffffff;
  border-radius: 3px;
  margin-right: 0.625rem;
  display: inline-block;
  cursor: pointer;
}
