#react-paginate {
  display: inline-block;
  box-sizing: border-box;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}

.pagination .active {
  background: #4d5055;
}

.pagination .active a {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #4d5055;
  border-color: #4d5055;
}

.pagination li {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #A6A7A9;
  text-decoration: none;
  background-color: #fff;
  display: inline-block;
  border: 1px solid #ddd;
}

.pagination li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination a {
  cursor: pointer;
}

#react-paginate .break a {
  cursor: default;
}

.gor-paginate {
  display: inline-block;
  float: right;
  padding-right: 30px;
  padding-top: 10px;
}

.gor-pageNum {
  display: inline-block;
  padding-left: 30px;
  padding-top: 32px;
}

.gor-Page-Drop {
  display: inline-block;
  width: 100%;
  height: 1.875rem;
  background: transparent;
  text-align: left;
}

.gor-Page-Drop .Dropdown-root {
  position: relative;
}

.gor-Page-Drop .Dropdown-control {
  position: relative;
  border: 1px solid;
  border-radius: 0.1875rem;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 0.5rem 3.25rem 0.5rem 0.625rem;
  transition: all 200ms ease;
  border-color: #aaaaaa;
  font-size: 14px;
  font-weight: 100;
  color: #aaaaaa;
}

.gor-Page-Drop .Dropdown-arrow {
  border-color: #A6A7A9 transparent transparent;
  border-style: solid;
  border-width: 0.5rem 0.3125rem 0.125rem;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 0.9375rem;
  top: 0.6875rem;
}

.gor-Page-Drop .Dropdown-control:hover {
  box-shadow: 0.125rem 0.125rem 0.125rem #888888;
  border: 0.0625rem solid #ccc;
}

.gor-Page-Drop .is-open .Dropdown-arrow {
  border-color: #FFFFFF transparent transparent;
  border-style: solid;
  border-width: 0.5rem 0.4375rem 0.1875rem;
}

.gor-Page-Drop .Dropdown-menu {
  border: 1px solid;
  border-radius: 3px;
  box-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -0.0625rem;
  max-height: 12.5rem;
  overflow-y: auto;
  position: absolute;
  bottom: 100%;
  width: 100%;
  z-index: 20;
  -webkit-overflow-scrolling: touch;
  border-color: #aaaaaa;
  font-size: 14px;
  font-weight: 100;
  color: #aaaaaa;
  background: #ffffff;
}

.gor-Page-Drop .Dropdown-option {
  box-sizing: border-box;
  color: #A6A7A9;
  cursor: pointer;
  display: block;
  padding: 0.5rem 0.625rem;
}

.gor-Page-Drop .Dropdown-option.is-selected {
  font-weight: bold;
}

.gor-Page-Drop .Dropdown-option:hover {
  color: #aaaaaa;
  background: #F8F8F8;
}

.gor-Page-Drop .Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 0.5rem 0.625rem;
}

.gor-paginate-state {
  display: inline-block;
  vertical-align: super;
  padding-top: 11px;
  color: #666666;
}

.gor-button-wrap {
  display: inline-block;
}

.gor-button-sub-status {
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  color: #aaaaaa;
  vertical-align: sub;
  padding-left: 10px;
}

.gor-Pagination {
  width: 100%;
  height: 70vh;
  position: relative;
}
