.gor-separator {
  display: inline-block;
  line-height: 20px;
}

.gor-separator .headerName {
  padding: 7px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #383838;
}

.gor-separator .subheaderName {
  padding: 7px;
  font-size: 14px;
  text-align: left;
  color: #333333;
}

.gor-separator .headerSeparation {
  font-size: 30px;
}

.gor-separator .subHeaderSeparation {
  font-size: 30px;
}
