@font-face
{
  font-family: 'Source Sans Pro';
  src: url('../Source_Sans_Pro/SourceSansPro-Regular.ttf')  format('truetype')
}
body
{
	background: #F2F2F2;
	font-family: 'Source Sans Pro', sans-serif;
}
.gorTile
{
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 3px 3px #EAEAEA;
  display: inline-block;
  margin: 1% 0% 1% 2%;
  font-size: 0;
  &.gorSingle
  {
    width:23%;
    .gorHeading
    {
      font-family: 'Source Sans Pro semibold', sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 46px;
    }
  }
  &.gorDouble
  {
    width:46%; 
    .gorHeading
    {
      font-family: 'Source Sans Pro semibold', sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 36px;
    }
  }
  .gorStatus
  {
    font-family: 'Source Sans Pro semibold', sans-serif;
    font-size: 16px;
    padding:0;
    margin:0;
    line-height: 32px;
  }
  .gorUp-tile
  {
    padding: 15px 20 0px 20px;
    min-height:120px;
  }
  .gorTile-left
  {
    width: 80%;
    display:inline-block;  
  }
  .gorTile-one
  {
    width: 45%;
    display:inline-block;
    margin-right: auto;
  }
  .gorTile-two
  {
    width: 55%;
    display:inline-block;
    margin-right: none;
  }
  .gorHeading-value
  {
    font-family: 'Source Sans Pro regular', sans-serif;
    font-size: 45px;
    padding:0;
    margin:0;
  }
  .gorSuccess
  {
    color: #00a54f;
  }
  .gorBreach
  {
    color: #ec1c24;
  }
  .gorRisk
  {
    color:#dd7f03;
  }
  .gorTile-right
  {
    width: 14%;
    display:inline-block;
    vertical-align: top;
  }
  .gorLow-tile
  {
    font-family: 'Source Sans Pro semibold', sans-serif;
    font-size: 16px;
    background:#F7F7F7;
    color: #666666;
    padding: 10px 0px 15px 20px;
  }

}


