.gor-menuWrap .gor-all-zone {
  padding: 15px;
  border-top: 1px solid #EAEAEA;
}

.gor-menuWrap .gor-all-zone a {
  color: #72A9E9;
  font-size: 14px;
}

.gor-menuWrap .gor-all-zone .right-arr {
  font-weight: bold;
  vertical-align: middle;
}

.gor-menuWrap .gor-sys-btn {
  border: solid 1px #B9B9B9;
  color: #525252;
  cursor: pointer;
}

.gor-zone-wrapper {
  background: #fff;
}

.gor-zone-wrapper .gor-zone-header {
  padding: 20px 15px;
  font-size: 18px;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile {
  width: 23%;
  background: #fff;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.gor-zone-wrapper .gor-zone-tile.operating {
  box-sizing: border-box;
  border: 4px solid #E1E1E1;
}

.gor-zone-wrapper .gor-zone-tile.operating.stop {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.operating.stop p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.operating.stop .gor-zone-status {
  background-position: -7px -304px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.operating.pause {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.operating.pause p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.operating.pause .gor-zone-status {
  background-position: -66px -301px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.operating .gor-zone-status {
  background-position: -7px -179px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.operating .zone-name {
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.operating .operating-status {
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseActive {
  background: #F4E822;
  box-sizing: border-box;
  border: 4px solid #E7C606;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseActive.stop {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseActive.stop p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseActive.stop .gor-zone-status {
  background-position: -7px -304px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseActive.pause {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseActive.pause p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseActive.pause .gor-zone-status {
  background-position: -66px -301px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseActive .gor-zone-status {
  background-position: -190px -240px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseActive .zone-name {
  color: #515043;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseActive .operating-status {
  color: #DF2611;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearInit {
  background: #F4E822;
  box-sizing: border-box;
  border: 4px solid #E7C606;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearInit.stop {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearInit.stop p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearInit.stop .gor-zone-status {
  background-position: -7px -304px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearInit.pause {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearInit.pause p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearInit.pause .gor-zone-status {
  background-position: -66px -301px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearInit .gor-zone-status {
  background-position: -190px -240px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearInit .zone-name {
  color: #515043;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearInit .operating-status {
  color: #DF2611;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearActive {
  background: #F4E822;
  box-sizing: border-box;
  border: 4px solid #E7C606;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearActive.stop {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearActive.stop p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearActive.stop .gor-zone-status {
  background-position: -7px -304px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearActive.pause {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearActive.pause p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearActive.pause .gor-zone-status {
  background-position: -66px -301px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearActive .gor-zone-status {
  background-position: -190px -240px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearActive .zone-name {
  color: #515043;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearActive .operating-status {
  color: #DF2611;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearDeactivated {
  background: #F4E822;
  box-sizing: border-box;
  border: 4px solid #E7C606;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearDeactivated.stop {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearDeactivated.stop p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearDeactivated.stop .gor-zone-status {
  background-position: -7px -304px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearDeactivated.pause {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearDeactivated.pause p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearDeactivated.pause .gor-zone-status {
  background-position: -66px -301px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearDeactivated .gor-zone-status {
  background-position: -190px -240px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearDeactivated .zone-name {
  color: #515043;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zoneClearDeactivated .operating-status {
  color: #DF2611;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseDeactivated {
  background: #F4E822;
  box-sizing: border-box;
  border: 4px solid #E7C606;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseDeactivated.stop {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseDeactivated.stop p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseDeactivated.pause {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseDeactivated.pause p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseDeactivated.pause .gor-zone-status {
  background-position: -66px -301px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseDeactivated .gor-zone-status {
  background-position: -140px -366px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseDeactivated .zone-name {
  color: #515043;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseDeactivated .operating-status {
  color: #DF2611;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.emergencyStop {
  border: 4px solid #EC1B2C;
  box-sizing: border-box;
  background: #DE0010;
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.emergencyStop.stop {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.emergencyStop.stop p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.emergencyStop.stop .gor-zone-status {
  background-position: -190px -304px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.emergencyStop.pause {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.emergencyStop.pause p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.emergencyStop.pause .gor-zone-status {
  background-position: -66px -301px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.emergencyStop .gor-zone-status {
  background-position: -190px -304px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.emergencyPause {
  border: 4px solid #B40313;
  box-sizing: border-box;
  background: #DE0010;
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.emergencyPause.stop {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.emergencyPause.stop p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.emergencyPause.stop .gor-zone-status {
  background-position: -7px -304px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.emergencyPause.pause {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.emergencyPause.pause p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.emergencyPause .gor-zone-status {
  background-position: -190px -240px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseInit {
  background: #F4E822;
  box-sizing: border-box;
  border: 4px solid #E7C606;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseInit.stop {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseInit.stop p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseInit.stop .gor-zone-status {
  background-position: -7px -304px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseInit.pause {
  background: #DE0010;
  border: 4px solid #B40313;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseInit.pause p {
  color: #fff;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseInit.pause .gor-zone-status {
  background-position: -66px -301px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseInit .gor-zone-status {
  background-position: -190px -240px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseInit .zone-name {
  color: #515043;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile.zonePauseInit .operating-status {
  color: #DF2611;
  font-weight: bold;
}

.gor-zone-wrapper .gor-zone-tile .left-content {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}

.gor-zone-wrapper .gor-zone-tile .right-content {
  display: inline-block;
  vertical-align: middle;
  width: 71%;
  padding: 5px;
}

.gor-zone-wrapper .gor-zone-tile .operating-status {
  line-height: 25px;
}

.gor-zone-wrapper .gor-zone-tile .gor-zone-status {
  min-height: 42px;
}

.gor-zone-wrapper .gor-zt-wrap {
  background: #EEEEEE;
  padding: 15px;
}

.connectionDetails {
  line-height: 25px;
}

.connectionDetails span:first-child {
  margin-right: 5px;
  display: inline-block;
  min-width: 8em;
}

.connectionDetails span:nth-child(2) {
  color: #49BE7E;
}

.actionTriggered .action-icon {
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
}

.actionTriggered .action-left {
  display: inline-block;
  width: 12%;
  vertical-align: middle;
}

.actionTriggered .action-right {
  display: inline-block;
  vertical-align: middle;
}

.actionTriggered.zone_pause .action-icon {
  background-position: -190px -240px;
}

.actionTriggered.zone_pause .action-triggered {
  color: #EC1B2C;
  font-weight: bold;
}

.actionTriggered.zone_pause .sensor-triggered {
  color: #EC1B2C;
}

.actionTriggered.emergency_pause .action-icon {
  background-position: -190px -240px;
}

.actionTriggered.emergency_pause .action-triggered {
  color: #EC1B2C;
  font-weight: bold;
}

.actionTriggered.emergency_pause .sensor-triggered {
  color: #EC1B2C;
}

.actionTriggered.emergency_stop .action-icon {
  background-position: -190px -300px;
}

.actionTriggered.emergency_stop .action-triggered {
  color: #EC1B2C;
  font-weight: bold;
}

.actionTriggered.emergency_stop .sensor-triggered {
  color: #EC1B2C;
}

.actionTriggered.none .action-left {
  display: none;
}

.actionTriggered.none .action-triggered {
  color: #000000;
  font-weight: bold;
}

.actionTriggered.none .sensor-triggered {
  color: #000000;
}

.actionTriggered.zone_pause .action-icon {
  background-position: -190px -240px;
}

.actionTriggered.zone_pause .action-triggered {
  color: #EC1B2C;
  font-weight: bold;
}

.actionTriggered.zone_pause .sensor-triggered {
  color: #EC1B2C;
}

.actionTriggered.zone_clear .action-icon {
  background-position: -190px -240px;
}

.actionTriggered.zone_clear .action-triggered {
  color: #EC1B2C;
  font-weight: bold;
}

.actionTriggered.zone_clear .sensor-triggered {
  color: #EC1B2C;
}
