.gor-operations-log .gor-ol-paginate-wrap {
  width: 100%;
}

.gor-operations-log .gor-ol-paginate-wrap .gor-ol-paginate-left {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.gor-operations-log .gor-ol-paginate-wrap .gor-ol-paginate-right {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.gor-operations-log .gor-ol-paginate-wrap .gor-paginate-wrap {
  float: right;
}

.gor-operations-log .gor-ol-paginate-wrap .gor-dropdown-wrapper {
  width: 10%;
  margin-left: 4%;
  background: #fff;
  margin-top: 2rem;
}

.gor-operations-log .gor-no-data {
  padding-top: 9.375rem;
  height: 8vw;
}

.gor-operations-log .gor-filter-body-filterToken-section1 {
  float: none;
  vertical-align: top;
}

.gor-operations-log .gor-rpt-dwnld {
  height: 2.1875rem;
  border-radius: 3px;
  background-color: #4d5055;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  font-family: "source sans pro";
  font-size: 0.875rem;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  vertical-align: sub;
  cursor: pointer;
}
